version: '3'

services:

  postgres:
    image: postgres:11
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PW}
    expose:
       - '5432'
    networks:
       - backend

  cuizinart:
     build: 
       context: ./cuizinart
       args: 
         userid: ${USER_ID}
     restart: unless-stopped
     read_only: true  # make root fs read-only, but keep /tmp writable (for request files)
     tmpfs:
       - /tmp
     depends_on:
       - postgres
     env_file:
       - .env
     networks:
       - backend
     ports:
       - '7084:5000'
     volumes:
       - ${NC_INPUT_PATH}:${NC_INPUT_PATH}
       - ${LOG_DIRECTORY}:${LOG_DIRECTORY}
       - ${SSH_KNOWN_HOSTS_PATH}:/home/gwf/.ssh/known_hosts
       - ${DB_MIGRATIONS_FOLDER}:/tmp/gwf/migrations
     security_opt:
       - no-new-privileges:true

  pyspark:
    build: ./cuizinart_pyspark
    env_file:
      - .env
    environment:
      FLASK_APP: 'pyspark_app.py'
    expose:
      - '5001'
    networks:
      - backend
    volumes:
      - ${NC_INPUT_PATH}:${NC_INPUT_PATH}
      - ${NC_OUTPUT_PATH}:${NC_OUTPUT_PATH}
      - ${LOG_DIRECTORY}:${LOG_DIRECTORY}

networks:
  backend:
    driver: bridge

