html {
  font-size: 90%;

  overflow-y: hidden;
}


.Resizer {
  
  background: gray;
  height: calc(100vh - 64px);
  width: 4px;
  z-index: 1;
  cursor: col-resize;
  
}

#map {
    height: calc(100vh - 64px);
 }

.About .modal-dialog,
.Disclaimer .modal-dialog {
  max-width: 80%;
}

.Pane.vertical.Pane1 {
    height: calc(100vh - 64px);
    position: relative;
    overflow-y: scroll;
}