.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 50px 0 0; /* Height of navbar */
}

.sidebar-sticky {
  position: relative;
  margin-top: calc(-100vh + 66px);
  z-index: 1000;
  top: 0;
  height: calc(100vh - 66px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.closeSidebar {
  margin-top: calc(-100vh + 80px);
  margin-left: -4px;
  padding-left: 0px;
  padding-top: 4px;
  height: 40px;
  max-width: 15px !important;
  z-index: 1000;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

#map {
    height: calc(100vh - 64px);
 }

.About .modal-dialog,
.Disclaimer .modal-dialog {
  max-width: 80%;
}
