html {
  font-size: 90%;

  overflow-y: hidden;
}


.Resizer {
  
  background: gray;
  height: 100%;
  width: 4px;
  z-index: 1;
  cursor: col-resize;
  
}

#map {
    height: calc(100vh - 64px);
 }

.About .modal-dialog,
.Disclaimer .modal-dialog {
  max-width: 80%;
}
